.main {
  width: 100%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
  /* background: black!important; */
}
.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.myimage {
  max-height: 70%;
}

.gretting-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}
.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-text {
  margin-top: 80px;
  font-size: 55px;
  line-height: 1.1;
  font-family: "Google Sans Regular";
  color: #133b4f;
}

.celeb {
  margin-left: 35px;
  /* margin-bottom: 5rem; */
  font-size: 2rem;
}

.greeting-nickname {
  font-size: 30px;
  line-height: 0px;
  font-family: "Google Sans Bold Italic";
}

.greeting-text-p {
  font-size: 30px;
  line-height: 40px;
  font-family: "Google Sans Regular";
}

.greeting-image-div > * {
  max-width: 100%;
  height: auto;
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
    margin-right: 40px;
  }
}
@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
  }
  .greeting-nickname {
    font-size: 25px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 21px !important;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
  .greet-main {
    margin-top: 0;
  }

  .greeting-main {
    flex-direction: column;
  }
  .greeting-text-div {
    order: 2;
  }

  .portfolio-repo-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .greeting-image-div > * {
    max-width: 80%;
    height: auto;
    margin: auto;
    order: 1;
  }

  .myimage {
    margin: auto;
    display: block;
  }
}
